@page "/schema"

@using System.Data;
@using System.Diagnostics;
@using System.Linq;

@using Sqlzor.Api.Obsolete;
@using Sqlzor.DbSchema.Models;

@inject SchemaApi _schemaApi;

<h1>Schema</h1>

<div class="form-group">
    <label>Connection Name</label>
    <ConnectionNameSelect @bind-ConnectionName="@connectionName" />
</div>

<div class="form-group">
    <label>Collection Name</label>
    <input class="form-control" type="text" @bind="collectionName">
</div>

<div class="form-group">
    <label>Restriction Values</label>
    <textarea class="form-control" id="queryTextArea" rows="3" @bind="restrictionValues" @bind:event="oninput" />
</div>

<div class="form-group">
    <button type="button" class="btn btn-primary" @onclick="e => HandleGetSchemaTables(true)"
            disabled="@string.IsNullOrWhiteSpace(connectionName)">
        <span class="fas fa-play"></span> Get Schema Tables
    </button>

    <button type="button" class="btn btn-primary" @onclick="HandleLoadHierarchy"
            disabled="@string.IsNullOrWhiteSpace(connectionName)">
        <span class="fas fa-play"></span> Load Hierarchy
    </button>
</div>

<BusyComponent IsBusy="@isBusy" />
<Tree Nodes="hierarchy"
      HasChildNodes="item => item.Children.Any()"
      ChildSelector="item => item.Children">
    <TitleTemplate><i class="@GetIconClass(context)"></i> @context.Name?.Trim('.')</TitleTemplate>
</Tree>
<QueryResultsComponent Error="@error" Tables="@tables" Elapsed="@elapsed" />

@code {
    private string connectionName = string.Empty;
    private string collectionName = string.Empty;
    private string restrictionValues = string.Empty;

    private bool isBusy = false;
    private DataTable[] tables = null;
    private Exception error = null;
    private TimeSpan? elapsed = null;
    private Node[] hierarchy = null;

    private string GetIconClass(Node node)
    {
        switch (node.Model?.GetType()?.Name)
        {
            case null:
                return "fas fa-folder";

            case nameof(ColumnModel):
            case nameof(IndexColumnModel):
            case nameof(ViewColumnModel):
                return "fas fa-columns";

            case nameof(DatabaseModel):
                return "fas fa-database";

            case nameof(DataSourceInformationModel):
                return "fas fa-plug";

            case nameof(ForeignKeyModel):
            case nameof(IndexModel):
                return "fas fa-key";

            case nameof(ProcedureModel):
                return "fas fa-code";

            case nameof(TableModel):
            case nameof(ViewModel):
                return "fas fa-table";

            case nameof(UserModel):
                return "fas fa-user";

            default:
                return "fas fa-question";
        }
    }

    private async Task HandleGetSchemaTables(bool isRawRequested)
    {
        var stopwatch = StartRequest();

        try
        {
            var restrictions = restrictionValues
                .Replace("\r\n", "\n")
                .Split('\n')
                .Where(item => !string.IsNullOrWhiteSpace(item))
                .ToArray();

            if (isRawRequested)
            {
                tables = await _schemaApi.GetSchemaTablesAsync(
                    connectionName,
                    collectionName,
                    restrictions);
            }
            else
            {
                var schema = await _schemaApi.GetSchemaAsync(connectionName);
                tables = schema.SourceDataTables;
            }

            tables = tables.OrderBy(item => item.TableName).ToArray();
        }
        catch (Exception thrown)
        {
            error = thrown;
        }
        finally
        {
            CompleteRequest(stopwatch);
        }
    }

    private async Task HandleLoadHierarchy()
    {
        var stopwatch = StartRequest();

        try
        {
            var node = await _schemaApi.GetHierarchyAsync(connectionName);

            hierarchy = new Node[] { node };
        }
        catch (Exception thrown)
        {
            error = thrown;
        }
        finally
        {
            CompleteRequest(stopwatch);
        }
    }

    private Stopwatch StartRequest()
    {
        isBusy = true;
        tables = null;
        error = null;
        elapsed = null;
        hierarchy = null;

        var stopwatch = new Stopwatch();
        stopwatch.Start();

        return stopwatch;
    }

    private void CompleteRequest(Stopwatch stopwatch)
    {
        stopwatch.Stop();

        elapsed = stopwatch.Elapsed;
        isBusy = false;
    }
}
